<p id="notice"><%= notice %></p>

<p>
  <strong>Close date:</strong>
  <%= @price.close_date %>
</p>

<p>
  <strong>Close price:</strong>
  <%= @price.close_price %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
