<%= form_for(@stock_tracker) do |f| %>
  <% if @stock_tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_tracker.errors.count, "error") %> prohibited this stock_tracker from being saved:</h2>

      <ul>
      <% @stock_tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ticker %><br>
    <%= f.text_field :ticker %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
