<h1>Listing stock_trackers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_trackers.each do |stock_tracker| %>
      <tr>
        <td><%= stock_tracker.name %></td>
        <td><%= stock_tracker.ticker %></td>
        <td><%= link_to 'Show', stock_tracker %></td>
        <td><%= link_to 'Edit', edit_stock_tracker_path(stock_tracker) %></td>
        <td><%= link_to 'Destroy', stock_tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock tracker', new_stock_tracker_path %>
